Anaconda
GitGutter
JavaScript Completions
Markdown Preview
LuaAutocomplete
Rust
RustAutoComplete
SideBarEnhancements
SublimeHaskell
SublimeLinter
SublimeLinter-annotations
SublimeLinter-contrib-erlc
SublimeLinter-contrib-rustc
SublimeLinter-csslint
Sublimelinter-cppcheck
SublimeLinter-cpplint
SublimeLInter-flake8
SublimeLinter-json
SublimeLinter-jsxhint
SublimeLinter-lua
SublimeREPL
Theme - Soda
